*{
    margin: 0;
    padding: 0;
}

body
{
    height: 100vh;
    background-color: aliceblue;
}
#p-text{
   
    word-wrap: break-word;
}
header
{

    width: 100%;
    background-color: rgb(94, 147, 226);
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;

}
  .header-menu
  {

    display: flex;
    justify-content: center;
    width: 1600px;
    max-width: 1900px;
    font-family:  sans-serif;
    box-sizing: border-box;
    color: white;
  }
    .header-menu-first
    {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }
    .header-menu-two
    {
        display: flex;
        flex-grow: 1;
    }
    .header-menu-three
    {
        display: flex;
        flex-grow: 1;
        justify-content:flex-end;
        padding: 0 20px;
        
    }
      
      .header-menu p
      {
         
          display: flex;
          cursor: pointer;
          font-size: 14px;
          padding: 0 12px;
          margin: 0;
          align-items: center;  
      }
            .header-menu-three .header-menu-option:hover
            {
              
              cursor: pointer;
              font-size: 14px;
              background-color: rgba(32, 33, 36, 0.151);
            }
         .header-menu-three .fas
         {
            font-size: 26px;
            color: rgba(29, 33, 39, 0.692);
         }
            .header-menu-three .fas:hover
            {
            color: rgba(29, 33, 39, 0.925);
            }
         .header-menu-three .fab
         {
            font-size: 26px;
            color: rgba(29, 33, 39, 0.692);
         }
            .header-menu-three .fab:hover
            {
            color: rgba(29, 33, 39, 0.925);
            } 
         .fas.fa-sort-up
         {
             transform: rotate(180deg);
             margin-bottom: 15px;
         }   
     .header-logo
     {
      font-family: 'PT Sans Narrow', sans-serif;
      font-weight: bold;
      font-size: 34px;
      color: white;
      padding: 0 30px;
      margin: 0;
      }
      #header-profile-image
      { 
        width: 45px;
        height: 45px;
        border-radius: 35px;
        margin: 5px 0px;
      }
      .people-search
      {
          width: 450px
      }
 /*MAIN*/


.subsoil
{
    width: 100%;
    justify-content: center;
    top: 44px;
    height: 1000px;
    display: flex;

}
.subsoil-wrapper
    {
    display: flex;
    width: 1900px;
    max-width: 1900px;
   
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
   
    
}
     .tile1
     {
      flex-basis: 25%;
      min-width: 320px;
      
     }
     .tile2
     {
        flex-basis: 50%;
        margin-top: 30px;
        z-index: 1;
   
     }
     .tile3
     {
        flex-basis: 25%; 
        
      
     }



main
{
    
    width: 100%;
    justify-content: center;
    top: 44px;
    height: 1000px;
    display: flex;
   
}  
    .main-wrapper
    {
    display: flex;
    width: 1900px;
    max-width: 1900px;
    height: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
   
    
    }


    .left-aside-menu
    {
       
       
      
       background-color: aliceblue;
       align-items: center;
       flex-direction: column;
       min-width: 320px;
       height: 700px;
       position: fixed;
       
      
    }
   
       .my-profile-aside
       {
        width: 90%;
        line-height: 30px;
        
        margin-top: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
       }
       .my-apps-aside
       {
        width: 90%; 
        height: 80%  ;
        margin-top: 10px;
        
        display: flex;
        box-sizing: border-box;
       }
       .apps-aside
       {
           width: 100%;
           height: 90%;
           
           box-sizing: border-box;
       }
       .apps-ex
    {
        line-height: 40px;
        font-size: 16px;
        margin: 0;
        font-family: 'Roboto Condensed', sans-serif;
        cursor: pointer;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.788);;
        
    }
        .apps-ex:hover
         {
            background-color: rgba(139, 139, 145, 0.301);
            border-radius: 10px;
         }  
    .apps-ex .fas
    {
        line-height: 40px;
        margin-right: 12.5px;
       
       
        
    }
       .fas.fa-heartbeat
       {
           color: blueviolet;
       }
       .fas.fa-campground
       {
           color: crimson;
           
       }
       .fas.fa-user-friends
       {
           color: springgreen;
       }
       .fas.fa-dice
       {
           color: rgb(170, 165, 165);
       }
     
        
      

     
    

    .right-aside-menu
        {
            background-color: aliceblue;
            align-items: center;
            flex-direction: column;
            flex-basis: 100%;
            min-width: 320px;
            height: 700px;
            position: fixed;
            
        }


        .main-wrapper-stand
        {
            
        }












 .main
 {
     
     height: 3000px;
     background-color: rgb(243, 249, 252);
     display: flex;
     justify-content: center;
    
 }    


        .left-aside
        {
           display: flex;
           flex-basis: 25%;
           
        }


        

        .right-aside
        {
            flex-basis: 25%;
        }

     .right-fixed
    {
      display: flex;
      flex-basis: 25%;
      min-width: 320px;
      
    }
    .table-container
        {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        min-width: 400px;
        position: relative;
        box-sizing: border-box;
        }
        .creator-post-container
        {
            
           width: 100%;
            margin-top: 20px;
            background-color: white;
            border-radius: 10px;
            font-family: 'Roboto Condensed', sans-serif;
            color: rgba(0, 0, 0, 0.603);
        }
            .creator-post-options
            {
                display: flex;
                padding: 10px 35px;
                box-sizing: border-box;
            }
               .c-c-option
               {
                   padding: 7.5px;
                   border-right: 1px solid rgba(0, 0, 0, 0.253);
                   cursor: pointer;
               }
                   .c-c-option:hover
                   {
                      background-color: rgb(218, 211, 211);
                   }
                   .creator-post-options .fas.fa-star-half-alt
                   {
                      color: rgb(236, 164, 30);
                      padding-right: 7.5px;
                   }
                   .creator-post-options .fas.fa-camera-retro
                   {
                      color: rgb(76, 74, 68);
                      padding-right: 7.5px;
                   }
                   .creator-post-options .far.far.fa-images
                   {
                      color: rgb(197, 43, 197);
                      padding-right: 7.5px;
                   }
            .create-post 
            {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }  
                .form-post
                {
                    width: 90%;
                    border-top: 1px solid rgba(0, 0, 0, 0.253);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
                    
                }  
                   .form-post input
                   {
                       width: 100%;
                       height: 130px;
                       resize: none;
                       border: none;
                       padding: 12px 20px;
                       box-sizing: border-box;
                       
                   } 
                   .form-post input:focus
                   {
                      
                    outline: none;
                   }   
                
             .put-post
             {
                width: 100%;
                display: flex;
                height: 80px; 
                flex-direction: row;
                align-items: center;
                min-width: 300px;
                justify-content:flex-end;
                cursor: pointer;
             }   
             .type-post
             {
                 display: flex;
                 flex-direction: row;
                
             }  
                .type-post .fas.fa-globe-europe
                {
                    padding-right: 5px;
                } 



               .put-post p
               {
                  padding: 7.5px;
                  border: 1px solid  rgba(0, 0, 0, 0.253);
                  margin: 0 10px;
                  
               }
               .type-post-send
               {
                   background-color: rgb(94, 147, 226);
                   color: white;
                   padding: 0 5px;
               }
               .type-post-send:hover
               {
                   background-color: rgb(78, 127, 201);
                  
               }
    .new-post
    {
        font-family: 'Raleway', sans-serif;

        width: 100%;
        margin-top: 30px;
        border-radius: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 2.5%;
    }
        #post-on-web
        {
            display: none;
        }
        .author-post
        {
            width: 100%;
            display: flex;
            height: 50px;
            justify-content: space-between;
            margin: 5px;

        }
        .profileImage
        {
            width: 55px;
            height: 55px;
            border-radius: 35px;
        }
        .author-post p
        {
            
            display: flex;
            margin: 0;
            padding: 0 15px;
           
            
        }
        .edit-post
        {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .edit-post-logo
        {
            cursor: pointer;
        }

        .delete-post
        {
           
            right: 0;
            padding: 5px;
            border: 1px solid black;
            display:none
        }
            .delete-post:hover
            {
                background-color: rgb(240, 233, 233);
            }
            .delete-post.toogle
            {
                display: inherit;
            }
    .post-text-container
    {
        
        margin: 10px;
        max-width: 500px;
        
    }  
     
     .likes-comments-container
     {
         display: flex;
         justify-content: center;
         margin: 5px 0px;
         justify-content: center;
         justify-content: space-around;
         font-size: 14px;
     }
      .number-likes:hover
         {
         
         }
       
     .far.fa-thumbs-up
     {
        padding: 3.0px;
        background-color: rgb(118, 169, 236);
        border-radius: 15px;
        margin-right: 5px;
     }
     .likes-comments-container .comments
     {
        padding-right: 5px; 
         
     }

.use-like-comment-container
{
    display: flex;
    margin: 15px 20px;
    justify-content: space-around;
    padding: 0 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.253);
    line-height: 30px;
    font-size: 14px;
}
   .like-it
   {
    cursor: pointer;
    margin-top: 5px;
    padding: 0 2.5px;
   }
      .like-it:hover
       {
         background-color: rgb(228, 222, 222);
       }
       .like-it .toogle
       {
         color: rgb(98, 98, 243);
       }

    .comment-it
    {
    cursor: pointer;
    margin-top: 5px;
    padding: 0 2.5px;
    }   
      .comment-it:hover
       {
        background-color: rgb(228, 222, 222);
      }
   .use-like-comment-container i
   {
    padding: 0 5px;
    color: grey;
   }
   
   .wrapper
   {
    z-index: 3;
    
   }
   .wrapper.blur
   {
    filter: blur(1px);
   }


   .box
   {
       z-index: 5;
       position: absolute;
       width: 100%;
       height: 100vh;
       background-color: rgba(0, 0, 0, 0.178);
       top: 0;
       display: none;

   }
   .covid-informations
   {
    z-index: 6;
    position: absolute;
    border: 2px solid black;
    background-color: rgb(220, 231, 241);
    height: 600px;
    width: 700px;
    transform: translate(-50%, -50%) ;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    display: none;
    
   }
      .covid-informations h1
      {
       margin: 15px;
      }
     .world-static
     {
         display: flex;
         width: 90%;
         margin-top: 20px;
         flex-direction: column;
         
     }
       .polish-static
       {
           
           font-size: 24px;
           display: flex;
           width: 100%;
           justify-content: space-between;
           border-bottom: 1px solid grey;
           margin: 15px 0px;
       } 
        .polish-static p
        {
          padding: 7.5px;
         
        }
        .polish-static .country-name
        {
            color: red;
            font-weight: bold;
        }
        
        .global-static
        {
            
            font-size: 24px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            border-bottom: 1px solid grey;
            margin: 15px 0px;
        } 
        .global-static p
        {
          padding: 7.5px;
         
        }   
        .global-static .country-name
        {
            color: rgb(0, 162, 255);
            font-weight: bold;
        } 
    
    .static-detail   
    {
        width: 80%;
        height: 300px;
        border: 2px solid grey;
        border-radius: 15px;
        margin-top: 10px;
        background-color: rgb(196, 216, 235);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(61, 59, 59);
       
    } 

       .static-detail-container
       {
           width: 90%;
           height: 90%;
           display: flex;
           flex-direction: column;

       }
           .static-detail-container div
           {
           margin: 10px 0px;
           font-weight: bold;
           display: flex;
           justify-content: space-between;
           } 
           .close-covid-infromations
           {
               color: white;
               padding: 7.5px;
               position: absolute;
               right: 0px;
               top: 0px;
               background-color: rgb(171, 201, 230);
               cursor: pointer;
           }

.your-activity
{
    z-index: 6;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.253);
    background-color: rgb(255, 255, 255);
    width: 900px;
    transform: translate(-50%, -50%) ;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    height: 600px;
    font-family: sans-serif;
    display: none;
}
   .your-activity h2
   {
       padding: 5%;
       color: rgba(0, 0, 0, 0.788);
   }
   .archivum-comments
   {
       width: 500px;
       height: 500px;
       border: 2px solid rgba(0, 0, 0, 0.253);
       display: flex;
       flex-direction: column;
       align-items: center;
       box-sizing: inherit;
       overflow: scroll;
       margin-bottom: 20px;
   }
     .archivum-comment 
     {
         display: flex;
         flex-direction: column;
         width: 80%;
         border: 1px solid rgba(0, 0, 0, 0.459);
         margin: 15px;
         border-radius: 15px;
         box-sizing: inherit;
         
     }
       .comment-exists
       {
           display: flex;
           color: red;
           justify-content: flex-end;
           padding: 5px 5px;

       }
        .author-face
        {
            display: flex;
            padding: 0 20px;
            
        }
        .archivum-comment-text
        {
            overflow: hidden;
            min-height: 60px;
            word-wrap: break-word;
            padding: 2.5%;
        }
.my-profile-information
{
    z-index: 6;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, 0.253);
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 600px;
    border: 1px solid black;
    transform: translate(-50%, -50%) ;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}        
    .my-profile-inf-image
    {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 10px;
    }
       #prof-inf-img
       {
        width: 300px;
        height: 320px;
       }
       .change-picture 
       {
           
           margin: 10px 10px;
       }
      
    .personal-data-container
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        border: 1px solid rgba(0, 0, 0, 0.288);
        width: 400px;
        height: 150px;
        font-family: sans-serif;
        color: rgb(85, 81, 81);
    }
    .personal-data-container p
    {
        padding: 10px 5px;
    }
    